{"src/my_cool_mobile_app/core.cljs~" ["react-native" "expo" "@expo/vector-icons" "./assets/images/jimin.jpg" "./assets/images/bobbin.jpeg"], "src/my_cool_mobile_app/.core.cljs.swp" ["./assets/images/bobbin.jpeg"], "src/my_cool_mobile_app/core.cljs" ["react-native" "expo" "@expo/vector-icons" "./assets/images/jimin.jpg" "./assets/images/bobbin.jpeg"]}